body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.order {
  display:flex;
  flex-flow: column;
}

.year {
  float: left;
}

.deputy {
  float: right;
  margin-right: 15%;
}

.year-mobile {
  order: 1;
}

.chart {
  order: 2;
}

.deputy-mobile {
  order: 3;
}

.deputy-mobile form{
  padding-top: 5px;
  display: block !important;
}
